<!-- <pre id="code-hidden" style=""></div> -->

<div id="snippet-layout">
    <div id="snippet-header">
        <table style="width: 100%">
        <colgroup>
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 70%;">
           <col span="1" style="width: 10%;">
        </colgroup>
        
        <tbody>
            <tr>
                <td>{{this.title}}</td>
                <td><span class="italic">// TODO</span></td>
                <td><a id="save" class="modern-button" href="#" style="padding: 6px 32px;">Сохранить</a></td>
            </tr>
        </tbody>
    </table>
    </div>

    <!-- <div id="editor"></div> -->
    <pre id="editor" style="">{{this.logDump}}</div>
</div>
