<div id="snippet-layout">
    <div id="snippet-header">
        <table style="width: 100%">
        <colgroup>
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 70%;">
           <col span="1" style="width: 10%;">
        </colgroup>
        
        <tbody>
            <tr>
                <td>LogDump</td>
                <td><span class="italic"></span></td>
                <td><a id="save" class="modern-button" href="#" style="padding: 6px 32px;">Сохранить</a></td>
            </tr>
        </tbody>
    </table>
    </div>

    <!-- <div id="editor"></div> -->
    <pre id="editor" class="logdump" style="">{{{this.logDump}}}</div>
</div>

<script>
    function fetchDump() {
        fetch('/console/logdump', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            }
        })
        .then(response => {
            response
                .json()
                .then(data => {
                    if (data.result && data.redirect) {
                        window.location.replace(data.redirect);
                        return;
                    }
                    if (data.result) {
                        $('.logdump').html(data.result.result);
                    } else {
                        showToast(data.error, true);
                    }
                    console.log(JSON.stringify(data));
                })
                .catch(err => {
                    showToast(err.message, true);
                    console.log(err);
                });
        })
        .catch(err => {
            showToast(err.message, true);
            console.log(err);
        });
    }

	/*
    $('#save').click((e) => {
        submitChanges();
        e.preventDefault();
    })
    */

    fetchDump();
</script>