<div class="wrapper">
	<h2>Авторизация</h2>
	<form>
		<div class="form-field">
			<input type="username" placeholder="Логин" required />
		</div>
		<div class="form-field">
			<input type="password" placeholder="Пароль" required /> 
		</div>
		<div class="form-field">
			<button class="btn" type="submit">Войти</button>
		</div>
	</form>
</div>