<div id="code-hidden" style="display: none;">{{this.snippet.code}}</div>

<div id="snippet-layout">
    <div id="snippet-header">
        <table style="width: 100%">
        <colgroup>
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 70%;">
           <col span="1" style="width: 10%;">
        </colgroup>
        
        <tbody>
            <tr>
                <td>{{this.snippet._id}}</td>
                <td><span class="italic">{{this.snippet.name}}</span></td>
                <td><a id="save" class="modern-button" href="#" style="padding: 6px 32px;">Сохранить</a></td>
            </tr>
        </tbody>
    </table>
    </div>
	<div id="editor"></div>
</div>

<script src="/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setOptions({
        fontSize: "12pt",
        autoScrollEditorIntoView: true,
        copyWithEmptySelection: true,
    });
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
    editor.getSession().setUseWorker(false);
    editor.focus();
    
    editor.session.setOptions({ 
        tabSize: 4, 
        useSoftTabs: true
    })

    editor.setValue(htmlDecode(document.getElementById('code-hidden').innerHTML));
    editor.gotoLine(0);

    function submitChanges() {
        const newCode = editor.getValue();
        fetch("/api/v1/snippets/{{this.snippet._id}}", {
            method: 'PATCH',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ code : newCode }),
            })
            .then(response => {
                response
                    .json()
                    .then(data => {
                        console.log(JSON.stringify(data));
                    })
                    .catch(err => {
                        console.log(err);
                    });
            })
            .catch(err => {
                console.log(err);
            });
    }

    $('#save').click((e) => {
        // console.log('click');
        submitChanges();
        e.preventDefault();
    })
</script>