* {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

.mono {
	font-family: monospace; 
	font-size: 16px;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

html, body {
	background: #4587A7;
	padding-bottom: 40px;
}

.wrapper {
	background-color: #EEE;
	width: 960px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px 40px;
}

table {
	border: 0px;
}
td {
	padding: 10px 20px;
}
tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #FFF}

.modern-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

pre {
	color: #AAA;
	background-color: #131313; 
	padding: 10px 20px;
}

#editor * {
	font-family: monospace;
}

.snippet > table {
	margin-top: 20px;
}
.snippet > table tr, .snippet > table td {
	background: lightgray;
}
.snippet pre {
	margin-top: 0px;
}