<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Site2Api Console</title>
	
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	    <style type="text/css" media="screen">
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script type="text/javascript" src="/lib/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/script/main.js"></script>
</head>
<body>
    <div class="sidenav">
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a>
    </div>

    {{{body}}}

</body>
</html>